* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  background-color: #353535;
  font-family: 'Roboto', sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  margin: 100px auto;
  padding: 20px;
  color: #353535;
}

header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid #9f9f9f;
  padding-bottom: 10px;
}

button {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  color: #353535;
}

.items {
  list-style-type: none;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.item__name {
  display: inline-block;
  margin-left: 10px;
  width: 100%;
}

.item__edit {
  margin: 0 5px;
}

footer {
  text-align: center;
  margin-bottom: 12px;
  display: flex;
}

input[type='text'] {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.footer__button {
  color: whitesmoke;
  background-color: #353535;
  height: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 0 10px;
  margin-left: 10px;
}

.checked {
  text-decoration: line-through;
  color: #9f9f9f;
}
